---
import { Code } from "astro:components";
import type { BuiltinLanguage } from "shiki";
const { BASE_URL } = import.meta.env;

interface Props {
  title: string;
  description: string;
  tags: string[];
  slug: string;
  readingTime: string;
  pubDate: Date;
  snippet: {
    language: BuiltinLanguage;
    code: string;
  };
}

const { title, pubDate, description, tags, readingTime, snippet } = Astro.props;

const date = new Date(pubDate).toDateString();
const postUrl = `${BASE_URL}posts/${title.toLowerCase().replace(/\s/g, "-")}/`;
---

<div class="preview-container">
  <div class="description-container">
    <div>
      <div>
        <h2>
          <a href={postUrl}>
            {title}
          </a>
        </h2>
        <time datetime={pubDate.toDateString()}>
          {date}
        </time>
      </div>
      <p>{description}</p>
      {readingTime}
    </div>
    <div class="tags-container">
      {
        tags.map((tag) => (
          <a href={postUrl}>
            <button class="tag">{tag[0].toUpperCase() + tag.slice(1)}</button>
          </a>
        ))
      }
      <a href={postUrl}>
        <button class="tag"> Read Post </button>
      </a>
    </div>
  </div>
  <div class="container-like-image">
    <a href={postUrl}>
      <button class="code-tag">
        {snippet.language[0].toUpperCase() + snippet.language.slice(1)}
      </button>
    </a>
    <Code
      code={snippet.code}
      lang={snippet.language}
      theme="tokyo-night"
      wrap={true}
    />
  </div>
</div>

<style>
  p {
    white-space: break-spaces;
  }

  .preview-container {
    margin-top: 40px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .description-container {
    grid-column: 1 / -1;
    padding: 40px 40px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: transparent;
    opacity: 0.95;
  }

  .description-container > div > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: var(--contrast);
    transition: color 0.3s;
  }

  pre {
    padding: 8px;
    color: var(--text-color);
    border-top-left-radius: unset !important;
  }

  .code-tag {
    background-color: var(--code-background);
    color: var(--text-color);
    padding: 8px;
    border: none;
  }

  .tags-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
  }

  .tag {
    background-color: var(--text-color);
    color: var(--primary);
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 100%;
  }

  .tag button {
    color: var(--text-color);
    text-decoration: none;
  }

  .tag:hover {
    background-color: var(--contrast);
  }

  .description-container:hover {
    box-shadow: 0 0 10px var(--contrast);
  }

  .container-like-image {
    position: absolute;
    grid-column: 1 / -1;
    height: 100%;
    opacity: 0.25;
    display: flex-inline;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    button {
      text-decoration: none;
      cursor: pointer;
    }

    a:hover,
    button:hover {
      text-decoration: underline;
      color: var(--contrast);
      transition: color 0.3s;
    }
  }

  @media (min-width: 720px) {
    .tags-container {
      flex-direction: row;
      gap: 8px;
      align-items: space-between;
      justify-items: space-between;
    }
    .container-like-image,
    .description-container {
      padding: 16px;
      border-radius: 8px;
      position: relative;
      height: fit-content;
    }

    .description-container {
      background-color: var(--primary);
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }

    .container-like-image {
      background-color: var(--neutral);
      opacity: unset;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
    }

    .preview-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 50px;
      align-content: center;
      align-items: center;
    }
  }

  @media (min-width: 992px) {
    .description-container,
    .container-like-image {
      border-radius: 4px;
    }

    .preview-container:nth-child(even) .description-container {
      grid-column: 1 / 7;
      z-index: 2;
      margin-right: -100px;
      opacity: 0.9;
      grid-row: 1 / 2;
    }
    .preview-container:nth-child(even) .container-like-image {
      align-items: start;
      grid-column: 7 / 13;
      z-index: 1;
    }

    .preview-container:nth-child(odd) .container-like-image {
      grid-column: 1 / 7;
      z-index: 1;
    }
    .preview-container:nth-child(odd) .description-container {
      grid-column: 7 / 13;
      z-index: 2;
      margin-left: -100px;
      opacity: 0.9;
      grid-row: 1 / 2;
    }
    .tags-container {
      flex-direction: row;
    }

    .description-container > div > div {
      flex-direction: row;
    }
  }
</style>
