---
import "../styles/base.css";
import Header from "components/Header.astro";
import Footer from "components/Footer.astro";
import Head from "components/Head.astro";
import Hero from "components/Hero.astro";
import TableOfContent from "components/TableOfContent.astro";
import type { IPostFrontmatter } from "content/config";

export interface Props {
  file: string;
  url: string;
  frontmatter: IPostFrontmatter;
  headings: { slug: string; text: string; depth: number }[];
}

const {
  frontmatter: { title, description, pubDate, readingTime, tags },
  headings,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={`${title} | post`} description={description} />
  <body>
    <Header titles={["About", "Posts", "Contact"]} />
    <Hero
      pubDate={pubDate}
      readingTime={readingTime}
      description={description}
      tags={tags}
    >
      <TableOfContent headings={headings} />
    </Hero>
    <section>
      <slot />
    </section>
    <Footer />
  </body>
</html>

<style>
  section {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 720px) {
    section {
      gap: 16px;
      padding: 20px;
      max-width: var(--max-width);
    }
  }
</style>
